<div class="emissary" style="background:{{ page.metafields.emissaryonebg.emissary_sec_one_background }};">
  <div id="pageContent">
    <div class="pageHeading">
      {%- if page.metafields.emissaryonetitle.emissary_sec_one_title != blank -%}
      <h2>{{ page.metafields.emissaryonetitle.emissary_sec_one_title }}</h2>
      {%- endif -%}
    </div>
    {% if page.metafields.emissaryoneimage.emissary_sec_one_image != blank %}
    <div class="emissary-banner"><img src="{{ page.metafields.emissaryoneimage.emissary_sec_one_image }}" alt=""></div>
    {% endif %}
    <div class="emissaryContent">
      {%- if page.metafields.emissaryonesubtitle.emissary_sec_one_subtitle != blank -%}
      <h2>{{ page.metafields.emissaryonesubtitle.emissary_sec_one_subtitle }}</h2>
      {%- endif -%}
      {%- if page.metafields.emissaryonecontent.emissary_sec_one_content != blank -%}
      {{ page.metafields.emissaryonecontent.emissary_sec_one_content }}
      {%- endif -%}
      <div class="join_now">
        {% if page.metafields.emissaryonelink.emissary_sec_one_link != blank %}
        <a class="join_btn" href="{{ page.metafields.emissaryonelink.emissary_sec_one_link }}">{{ page.metafields.emissaryonefeild.emissary_sec_one_feild }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="expectBlock" style="background:{{ page.metafields.expertbackground.expert_background }};">
  <div id="pageContent">
    <div class="pageHeading">
      {%- if page.metafields.expecttitle.expect_title != blank -%}
      <h2>{{ page.metafields.expecttitle.expect_title }}</h2>
      {%- endif -%}
    </div>
    <div class="expectBlockIn">
      <div class="col">
        <div class="colIn">
          <div class="expectIcon">
            {% if page.metafields.expectoneimage.expect_one_image != blank %}
            <img src="{{ page.metafields.expectoneimage.expect_one_image }}" alt="">
            {% endif %}
          </div>
          {%- if page.metafields.expectonetitle.expect_one_title != blank -%}
          <h2>{{ page.metafields.expectonetitle.expect_one_title }}</h2>
          {%- endif -%}
          {%- if page.metafields.expectonecontent.expect_one_content != blank -%}
          {{ page.metafields.expectonecontent.expect_one_content }}
          {%- endif -%}
        </div>
      </div>
      <div class="col">
        <div class="colIn">
          <div class="expectIcon">
            {% if page.metafields.expecttwoimage.expect_two_image != blank %}
            <img src="{{ page.metafields.expecttwoimage.expect_two_image }}" alt="">
            {% endif %}
          </div>
          {%- if page.metafields.expecttwotitle.expect_two_title != blank -%}
          <h2>{{ page.metafields.expecttwotitle.expect_two_title }}</h2>
          {%- endif -%}
          {%- if page.metafields.expecttwocontent.expect_two_content != blank -%}
          {{ page.metafields.expecttwocontent.expect_two_content }}
          {%- endif -%}
        </div>
      </div>
      <div class="col">
        <div class="colIn">
          <div class="expectIcon">
            {% if page.metafields.expectthreeimage.expect_three_image != blank %}
            <img src="{{ page.metafields.expectthreeimage.expect_three_image }}" alt="">
            {% endif %}
          </div>
          {%- if page.metafields.expectthreetitle.expect_three_title != blank -%}
          <h2>{{ page.metafields.expectthreetitle.expect_three_title }}</h2>
          {%- endif -%}
          {%- if page.metafields.expectthreecontent.expect_three_content != blank -%}
          {{ page.metafields.expectthreecontent.expect_three_content }}
          {%- endif -%}
        </div>
      </div>
      <div class="col">
        <div class="colIn">
          <div class="expectIcon">
            {% if page.metafields.expectfourimage.expect_four_image != blank %}
            <img src="{{ page.metafields.expectfourimage.expect_four_image }}" alt="">
            {% endif %}
          </div>
          {%- if page.metafields.expectfourtitle.expect_four_title != blank -%}
          <h2>{{ page.metafields.expectfourtitle.expect_four_title }}</h2>
          {%- endif -%}
          {%- if page.metafields.expectfourcontent.expect_four_content != blank -%}
          {{ page.metafields.expectfourcontent.expect_four_content }}
          {%- endif -%}
        </div>
      </div>
    </div>
    <div class="expectBlockContent">
      <div class="pageHeading">
        {%- if page.metafields.expectcontenttitle.expect_content_title != blank -%}
        <h2>{{ page.metafields.expectcontenttitle.expect_content_title }}</h2>
        {%- endif -%}
      </div>
      <div class="join_now">
        {% if page.metafields.expertlink.expert_link != blank %}
        <a class="join_btn" href="{{ page.metafields.expertlink.expert_link }}">{{ page.metafields.expertfeild.expert_feild }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="babesSection" style="background:{{ page.metafields.babessecbg.babes_section_background }};">
  <div class="pageHeading">
    {%- if page.metafields.babestitle.babes_title != blank -%}
    <h2>{{ page.metafields.babestitle.babes_title }}</h2>
    {%- endif -%}
  </div>
  <div class="babesOne" style="background:{{ page.metafields.babesseconebg.babes_section_one_background }};">
    <div class="wrapper">
      <div class="babesImg">
        {% if page.metafields.babesoneimage.babes_one_image != blank %}
        <img src="{{ page.metafields.babesoneimage.babes_one_image }}" alt="">
        {% endif %}
      </div>
      <div class="babesContent">
        {%- if page.metafields.babesonetitle.babes_one_title != blank -%}
        <h2>{{ page.metafields.babesonetitle.babes_one_title }}</h2>
        {%- endif -%}
        {%- if page.metafields.babesonecontent.babes_one_content != blank -%}
        <span>{{ page.metafields.babesonecontent.babes_one_content }}</span>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="babesTwo" style="background:{{ page.metafields.babessectwobg.babes_section_two_background }};">
    <div class="wrapper">
      <div class="babesContent">
        {%- if page.metafields.babestwotitle.babes_two_title != blank -%}
        <h2>{{ page.metafields.babestwotitle.babes_two_title }}</h2>
        {%- endif -%}
        {%- if page.metafields.babestwocontent.babes_two_content != blank -%}
        <span>{{ page.metafields.babestwocontent.babes_two_content }}</span>
        {%- endif -%}
      </div>
      <div class="babesImg">
        {% if page.metafields.babestwoimage.babes_two_image != blank %}
        <img src="{{ page.metafields.babestwoimage.babes_two_image }}" alt="">
        {% endif %}
      </div>
    </div>
  </div>
  <div class="babesThree" style="background:{{ page.metafields.babessecthreebg.babes_section_three_background }};">
    <div class="wrapper">
      <div class="babesImg">
        {% if page.metafields.babesthreeimage.babes_three_image != blank %}
        <img src="{{ page.metafields.babesthreeimage.babes_three_image }}" alt="">
        {% endif %}
      </div>
      <div class="babesContent">
        {%- if page.metafields.babesthreetitle.babes_three_title != blank -%}
        <h2>{{ page.metafields.babesthreetitle.babes_three_title }}</h2>
        {%- endif -%}
        {%- if page.metafields.babesthreecontent.babes_three_content != blank -%}
        <span>{{ page.metafields.babesthreecontent.babes_three_content }}</span>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="babesFour" style="background:{{ page.metafields.babessecfourbg.babes_section_four_background }};">
    <div class="wrapper">
      <div class="babesImg">
        {% if page.metafields.babesfourimage.babes_four_image != blank %}
        <img src="{{ page.metafields.babesfourimage.babes_four_image }}" alt="">
        {% endif %}
      </div>
      <div class="babesContent">
        {%- if page.metafields.babesfourtitle.babes_four_title != blank -%}
        <h2>{{ page.metafields.babesfourtitle.babes_four_title }}</h2>
        {%- endif -%}
        {%- if page.metafields.babesfourcontent.babes_four_content != blank -%}
        <span>{{ page.metafields.babesfourcontent.babes_four_content }}</span>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="babesFive" style="background:{{ page.metafields.babessecfivebg.babes_section_five_background }};">
    <div class="wrapper">
      <div class="babesContent">
        {%- if page.metafields.babesfivetitle.babes_five_title != blank -%}
        <h2>{{ page.metafields.babesfivetitle.babes_five_title }}</h2>
        {%- endif -%}
        {%- if page.metafields.babesfivecontent.babes_five_content != blank -%}
        <span>{{ page.metafields.babesfivecontent.babes_five_content }}</span>
        {%- endif -%}
      </div>
      <div class="babesImg">
        {% if page.metafields.babesfiveimage.babes_five_image != blank %}
        <img src="{{ page.metafields.babesfiveimage.babes_five_image }}" alt="">
        {% endif %}
      </div>
      <div class="moreInfo">
        <div class="pageHeading">
          {%- if page.metafields.babesinfotitle.babes_information_title != blank -%}
          <h2>{{ page.metafields.babesinfotitle.babes_information_title }}</h2>
          {%- endif -%}
          {%- if page.metafields.babesinfocontant.babes_information_content != blank -%}
          {{ page.metafields.babesinfocontant.babes_information_content }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="emissary" style="background:{{ page.metafields.meetspantiesbg.meets_panties_background }};">
  <div id="pageContent">
    <div class="pageHeading">
      {%- if page.metafields.meetspantiestitle.meets_panties_title != blank -%}
      <h2>{{ page.metafields.meetspantiestitle.meets_panties_title }}</h2>
      {%- endif -%}
    </div>
    {% if page.metafields.meetspantiesimage.meets_panties_image != blank %}
    <div class="emissary-banner"><img src="{{ page.metafields.meetspantiesimage.meets_panties_image }}" alt=""></div>
    {% endif %}
    <div class="emissaryContent">
      {%- if page.metafields.meetspantiescontent.meets_panties_content != blank -%}
      {{ page.metafields.meetspantiescontent.meets_panties_content }}
      {%- endif -%}
      <div class="join_now">
        {% if page.metafields.meetspantieslink.meets_panties_link != blank %}
        <a class="join_btn" href="{{ page.metafields.meetspantieslink.meets_panties_link }}">{{ page.metafields.meetspantiesfeild.meets_panties_feild }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


