<div class="mask-product">
  <div class="pro_top_link"><a href="#">Why should you become a member?</a></div>
  <div class="mask-product-desc">
    <ul class="accordion">
      <li class="active">
        <h3>{{ product.metafields.accentuate.product_tab_details_title }}</h3>
        <ul>
          <li>
            {{ product.metafields.accentuate.product_tab_details_descriptio }}
          </li>
        </ul>
      </li>
      <li>
        <h3>{{ product.metafields.accentuate.product_tab_shipping_title }}</h3>
        <ul>
          <li>
            {{ product.metafields.accentuate.product_tab_shipping_descripti }}
          </li>
        </ul>
      </li>
      <li>
        <h3>{{ product.metafields.accentuate.care_instructions_tab_title }}</h3>
        <ul>
          <li>
            {{ product.metafields.accentuate.product_tab_1_description }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<style>
  .pro_page_tab {background: #f2cfbf;}
</style>