<div class="productQuickAdd">
  <button class="btn btnProduct btnProductQuickAdd" data-href="#velaQuickAdd-{{ product.id }}" data-handle="{{ product.handle }}" title="{{ 'general.quickadd.title' | t }}">
    <i class="icons icon-eye"></i>
    <span class="text">{{ 'general.quickadd.title' | t }}</span>
  </button>
  <div class="selection-wrapper" id="velaQuickAdd-{{ product.id }}">
  </div>
</div>
