{%- if section.settings.blogsidebar_search_enable -%}
    <div class="blogSidebar">
        {%- if section.settings.blogsidebar_search_title != blank -%}
            <h4 class="titleSidebar">{{ section.settings.blogsidebar_search_title }}</h4>
        {%- endif -%}
        <div class="velaContent">
            <form class="formSearchPage formSearchBlogPage" action="/search" method="get">
                <input type="hidden" name="view" value="blog" />
                <input type="hidden" name="type" value="article" />
                <div class="input-group">
                    <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder_blog' | t }}" class="formSearchPageInput form-control" />
                    <div class="input-group-addon">    
                        <button type="submit" class="btn formSearchPageButton">
                            <i class="fa fa-angle-right"></i>
                            <span class="searchPageButtonText">{{ 'general.search.submit' | t }}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{%- endif -%}


{%- if section.settings.blogsidebar_author_enable -%}
    <div class="blogSidebar blogSidebarAuthor">
        {%- if section.settings.blogsidebar_search_title != blank -%}
            <h4 class="titleSidebar">{{ section.settings.blogsidebar_author_title }}</h4>
        {%- endif %}
        <div class="velaContent">
            <div class="authorAvata">
                {%- if article.user.image -%}
                    <img class="img-responsive" width="270" src="{{ article.user.image | img_url: '370x370' }}" />
                {%- else -%}
                    <span class="avatar d-flex flexJustifyCenter">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 563.43 563.43" style="enable-background:new 0 0 563.43 563.43;" xml:space="preserve">
                            <path d="M280.79,314.559c83.266,0,150.803-67.538,150.803-150.803S364.055,13.415,280.79,13.415S129.987,80.953,129.987,163.756
                                S197.524,314.559,280.79,314.559z M280.79,52.735c61.061,0,111.021,49.959,111.021,111.021S341.851,274.776,280.79,274.776
                                s-111.021-49.959-111.021-111.021S219.728,52.735,280.79,52.735z"/>
                            <path d="M19.891,550.015h523.648c11.102,0,19.891-8.789,19.891-19.891c0-104.082-84.653-189.198-189.198-189.198H189.198
                            C85.116,340.926,0,425.579,0,530.124C0,541.226,8.789,550.015,19.891,550.015z M189.198,380.708h185.034
                            c75.864,0,138.313,56.436,148.028,129.524H41.17C50.884,437.607,113.334,380.708,189.198,380.708z"/>
                        </svg>
                    </span>
                {%- endif -%}
            </div>
            <div class="wrap">
                <h4 class="authorName">
                    {%- if section.settings.blogsidebar_author_name != blank -%}
                        {{ section.settings.blogsidebar_author_name }}
                    {%- else -%}
                        {{ article.author }}
                    {%- endif -%}
                </h4>
                <ul class="blogAuthorSocial list-unstyled list-inline">
                    {%- if section.settings.blogsidebar_author_fb_link != blank -%}
                        <li><a href="{{ section.settings.blogsidebar_author_fb_link }}"><i class="fa fa-facebook"></i></a></li>
                    {%- endif -%}
                    {%- if section.settings.blogsidebar_author_tw_link != blank -%}
                        <li><a href="{{ section.settings.blogsidebar_author_tw_link }}"><i class="fa fa-twitter"></i></a></li>
                    {%- endif -%}
                    {%- if section.settings.blogsidebar_author_in_link != blank -%}
                        <li><a href="{{ section.settings.blogsidebar_author_in_link }}"><i class="fa fa-google-plus"></i></a></li>
                    {%- endif -%}
                    {%- if section.settings.blogsidebar_author_gg_link != blank -%}
                        <li><a href="{{ section.settings.blogsidebar_author_gg_link }}"><i class="fa fa-linkedin"></i></a></li>
                    {%- endif -%}
                </ul>
            </div>
        </div>
    </div> 
{%- endif -%}

{%- if section.settings.blogsidebar_recentarticles_enable -%}
    {%- assign numberLimit = section.settings.blogsidebar_recentarticles_limit | plus: 0 -%}
    <div class="blogSidebar">
        <h4 class="titleSidebar">{{ section.settings.blogsidebar_recentarticles_title }}</h4>
        <div class="velaContent">
            <ul class="listSidebarBlog list-unstyled">
                {% for article in blogs[blog.handle].articles limit:numberLimit %}
                    <li>
                        <a class="titleBlogsidebar" href="{{ article.url }}" title="{{ article.title }}">
                            {{ article.title }}
                        </a>
                        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{%- endif -%}
{%- if section.settings.blogsidebar_tags_enable -%}
    {%- assign numberLimit = section.settings.blogsidebar_tags_limit | plus: 0 -%}
    {%- if blog.all_tags.size > 0 -%}
        <div class="blogSidebar">
            <h4 class="titleSidebar">{{ section.settings.blogsidebar_tags_title }}</h4>
            <div class="velaContent">
                <ul class="blogTagsList list-inline">
                    {% for tag in blog.all_tags limit:numberLimit %}
                        {%- if current_tags contains tag -%}
                            <li>{{ tag }}</li>
                        {%- else -%}
                            <li>{{ tag | link_to_tag: tag }}</li>
                        {%- endif -%}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {%- endif -%}
{%- endif -%}
{%- if section.settings.blog_banner_enable -%}
    {%- if section.settings.blog_banner_size != blank -%}
        {%- assign imageSize = section.settings.blog_banner_size -%}
    {%- else -%}
        {%- assign imageSize = 'master' -%}
    {%- endif -%}
    <div class="blogSidebar blogBannerSidebar hidden-xs hidden-sm">
        <div class="effectOne">
            {%- if section.settings.blog_banner_link != blank -%}
                <a href="{{ section.settings.blog_banner_link }}" title="{{ block.settings.blog_sidebar_image.alt | default: shop.name }}">
            {%- endif -%}
                {%- if section.settings.blog_sidebar_image != blank -%}
                    <img class="img-responsive" alt="{{ block.settings.blog_sidebar_image.alt | default: shop.name }}" src="{{ section.settings.blog_sidebar_image | img_url: imageSize }}" />
                {%- else -%}
                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                {%- endif -%}
            {%- if section.settings.blog_banner_link != blank -%}
                </a>
            {%- endif -%}
        </div>
    </div>
{%- endif -%}