{% assign bannersize = '900x900' %}
{%- if section.settings.global_section_enable_5 -%}
{%- if product.metafields.ebyacf.enable_blkFive -%}
<div class="our-product-block" style="background: {{ product.metafields.specialeditionbg.special_edition_prints_bg }};">
  <div class="product-blocks">
    <div class="product-box">
    <div class="product-box-img">
      <div class="ebyacfCmsImgWrapper">{{ product.metafields.ebyacf.blkfive_image_content }}</div>
    </div>
    <div class="product-box_details">
      <h3>{{ product.metafields.printstitle.special_edition_prints_title }}</h3>
      <div class="rich-text">
      	<p>{{ product.metafields.printscontent.special_edition_prints_content }}</p>
      </div>
      {%- if product.metafields.ebyacf.enable_blkFive_cta -%}
      <a class="btn shop_btn" title="{{ product.metafields.nopantylink.no_panty_lines_link }}" href="{{ product.metafields.printslink.special_edition_prints_link }}" >{{ product.metafields.printsfield.special_edition_prints_field }}</a>
      {%- endif -%}
    </div>
    </div>
  </div>
</div>
{%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Global Section 5",
    "settings": [
        {
          "type": "header",
          "content": "Global Section 5"
        },
		{
          "type": "checkbox",
          "id": "global_section_enable_5",
          "label": "Show global section 5",
          "default": true
		},
        {
          "type": "text",
          "id": "global_section_title_5",
          "label": "Heading",
          "default": "No Slip Grip"
        },
        {
          "type": "textarea",
          "id": "global_section_text_5",
          "label": "Text",
          "default": "Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip."
        },
        {
          "type": "image_picker",
          "id": "global_section_5_image_1",
          "label": "Image for desktop view"
        },
        {
          "type": "image_picker",
          "id": "global_section_5_image_2",
          "label": "Image for mobile view"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
