{%- assign blogTemplate = section.settings.blog_template -%}
{%- assign sidebarTemplate = section.settings.sidebar_template -%}
{%- assign postLimit = section.settings.post_limit | plus:0 -%}
{%- if section.settings.image_size != blank -%}
    {%- assign postImageSize = section.settings.image_size -%}
{%- else -%}
    {%- assign postImageSize = 'master' -%}
{%- endif -%}
{%- if section.settings.post_columns == "1" -%}
    {%- assign postColumn = "col-xs-12" -%}
{%- elsif section.settings.post_columns == "2" -%}
    {%- assign postColumn = "col-sp-12 col-xs-6" -%}
{%- elsif section.settings.post_columns == "3" -%}
    {%- assign postColumn = "col-sp-12 col-xs-6 col-md-4" -%}
{%- elsif section.settings.post_columns == "4" -%}
    {%- assign postColumn = "col-sp-12 col-xs-6 col-md-4 col-lg-3" -%}
{%- endif -%}
<div class="row">
    {%- if sidebarTemplate == 'sidebarleft' -%}
        <aside class="velaSidebar velaBlogSidebar col-xs-12 col-sm-4 col-md-3 col-xl-2">
                {% include 'vela-blogsidebar' %}
        </aside>
    {%- endif -%}
    {%- if sidebarTemplate == 'sidebarnone' -%}
        {%- assign blogColumn = 'col-xs-12' -%}
    {%- else -%}
        {%- assign blogColumn = 'col-xs-12 col-sm-8 col-md-9 col-xl-10' -%}
    {%- endif -%}
    <div class="{{ blogColumn }}">
        <div class="blogContainer 
            {% unless sidebarTemplate == 'sidebarnone' %}blogContainerSidebar{% endunless %} 
            {% if sidebarTemplate == 'sidebarleft' %}blogContainerSidebarLeft{% endif %}">
            {%- if current_tags -%}
                <h1 class="velaBlogTitle">{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
            {%- else -%}
                <h1 class="velaBlogTitle">{{ blog.title }}</h1>
            {%- endif -%}
            {%- if blogTemplate == 'bloggrid' -%}
                <div class="blogListArticle blogGridTemplate">
                    {% paginate blog.articles by postLimit %}
                        <div class="rowFlexMargin rowFlex">
                            {% for article in blog.articles %}
                                <div class="{{ postColumn }}">
                                    <div class="blogArticle mb20 pb-md-30">
                                        {% if article.image %}
                                            <div class="articleImage">
                                                <a href="{{ article.url }}">
                                                    <img class="img-responsive" src="{{ article.image | img_url: postImageSize }}" alt="{{ article.title }}" />
                                                </a>
                                            </div>
                                        {% endif %}
                                        <div class="articleContent">
                                            <h3 class="articleTitle">
                                                <a href="{{ article.url }}">{{ article.title }}</a>
                                            </h3>
                                            <div class="articleDesc">
                                                {% if article.excerpt.size > 0 %}
                                                    {{ article.excerpt }}
                                                {% else %}
                                                    {{ article.content | strip_html | truncatewords: 27 }}
                                                {% endif %}
                                            </div>
                                            <div class="articleMeta">
                                                <span class="articlePublish text-primary">{{ article.published_at | date:'%b %d, %Y' }}</span>
                                                 <a class="btnBlogReadMore" href="{{ article.url }}" title="{{ 'blogs.article.read_more' | t }}">
                                                    {{ 'blogs.article.read_more' | t }}
                                                </a>    
                                                {% comment %}
                                                <span class="articleAuthor">
                                                    <span class="articleAvatar">
                                                        {%- if article.user.image -%}
                                                            <img class="img-responsive " src="{{ article.user.image | img_url: '30x30' }}" />
                                                        {%- else -%}
                                                            <i class="fa fa-user"></i>
                                                        {%- endif -%}
                                                </span>
                                                    {{ 'blogs.article.author_html' | t:author:article.author }}</span>
                                                    <span class="articleComment"><i class="fa fa-comment-o"></i>{{ article.comments_count }}</span>
                                                    <a href="{{ blog.url }}" class="articleCollection">{{ 'blogs.article.collection_html' | t:collection:blog.title }}</a>
                                                {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {%- if paginate.pages > 1 -%}
                            <div class="velaPaginationWrap clearfix">
                                {% include 'vela-pagination' %}
                                {% assign minPage = 1 %}
                                {% assign maxPage = paginate.page_size | times:paginate.current_page %}
                                {% if paginate.current_page > 1 %}
                                    {% assign currentPage = paginate.current_page | minus:1 %}
                                    {% assign minPage = currentPage | times: paginate.page_size %}
                                {% endif %}
                                {% if maxPage > paginate.items %}{% assign maxPage = paginate.items %}{% endif %}
                                <div class="itemPaginate pull-right">{{ 'collections.paginate.showing_html' | t: minPage:minPage, maxPage:maxPage, itemsPage:paginate.items }}</div>
                            </div>
                        {%- endif -%}
                    {% endpaginate %}
                </div>
            {%- else -%}
                <div class="blogListArticle blogListTemplate">
                    {% paginate blog.articles by postLimit %}
                        <div class="rowFlexMargin rowFlex">
                            {% for article in blog.articles %}
                                <div class="{{ postColumn }}">
                                    <div class="blogArticle blogArticleListing mb20 pd-md-30">
                                        <div class="rowFlexMargin rowFlex">
                                            {% if article.image %}
                                                <div class="articleImage col-xs-12 col-sm-12 col-md-4 mb30">
                                                    <a href="{{ article.url }}">
                                                        <img class="img-responsive" src="{{ article.image | img_url: postImageSize }}" alt="{{ article.title }}" />
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="articleContent col-xs-12 col-sm-12 col-md-8 mb30">
                                                <h3 class="articleTitle">
                                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                                </h3>
                                                <div class="articleDesc">
                                                    {% if article.excerpt.size > 0 %}
                                                        {{ article.excerpt }}
                                                    {% else %}
                                                        {{ article.content | strip_html | truncatewords: 40 }}
                                                    {% endif %}
                                                </div>
                                                <div class="articleMeta">
                                                    <span class="articlePublish text-primary">{{ article.published_at | date:'%b %d, %Y' }}</span>
                                                    <a class="btnBlogReadMore" href="{{ article.url }}" title="{{ 'blogs.article.read_more' | t }}">
                                                        {{ 'blogs.article.read_more' | t }}
                                                    </a>
                                                    
                                                    <!-- <a href="{{ blog.url }}" class="articleCollection">{{ 'blogs.article.collection_html' | t:collection:blog.title }}</a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {%- if paginate.pages > 1 -%}
                            <div class="velaPaginationWrap clearfix">
                                {% include 'vela-pagination' %}
                                {% assign minPage = 1 %}
                                {% assign maxPage = paginate.page_size | times:paginate.current_page %}
                                {% if paginate.current_page > 1 %}
                                    {% assign currentPage = paginate.current_page | minus:1 %}
                                    {% assign minPage = currentPage | times: paginate.page_size %}
                                {% endif %}
                                {% if maxPage > paginate.items %}{% assign maxPage = paginate.items %}{% endif %}
                                <div class="itemPaginate pull-right">{{ 'collections.paginate.showing_html' | t: minPage:minPage, maxPage:maxPage, itemsPage:paginate.items }}</div>
                            </div>
                        {%- endif -%}
                    {% endpaginate %}
                </div>
            {%- endif -%}
        </div>
    </div>
    {%- if sidebarTemplate == 'sidebarright' -%}
        <aside class="velaSidebar velaBlogSidebar col-xs-12 col-sm-4 col-md-3 col-xl-2 mb30">
            {% include 'vela-blogsidebar' %}
        </aside>
    {%- endif -%}
</div>
{% schema %}
    {
        "name": "Vela Blog",
        "settings": [
            {
                "type": "header",
                "content": "Blog Settings"
            },
            {
                "type": "select",
                "id": "blog_template",
                "label": "Blog template",
                "default": "bloggrid",
                "options": [
                    {
                        "label": "Blog Grid",
                        "value": "bloggrid"
                    },
                    {
                        "label": "Blog Listing",
                        "value": "bloglist"
                    }
                ]
            },
            {
                "type": "select",
                "id": "post_columns",
                "label": "Column of posts",
                "default": "2",
                "options": [
                    {
                        "label": "1",
                        "value": "1"
                    },
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    }
                ],
                "info": "Only applies for Blog Grid"
            },
            {
                "type": "select",
                "id": "sidebar_template",
                "label": "Sidebar template",
                "default": "sidebarright",
                "options": [
                    {
                        "label": "No Sidebar",
                        "value": "sidebarnone"
                    },
                    {
                        "label": "Sidebar Right",
                        "value": "sidebarright"
                    },
                    {
                        "label": "Sidebar Left",
                        "value": "sidebarleft"
                    }
                ]
            },
            {
                "type": "text",
                "id": "post_limit",
                "label": "Number of posts in a page",
                "default": "12"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Blog image size",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "header",
                "content": "Blog Sidebar Search"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_search_enable",
                "label": "Enable box search",
				"default": true
            },
			{
                "type": "header",
                "content": "Blog Sidebar Recent Articles"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_recentarticles_enable",
                "label": "Enable recent articles",
				"default": true
            },
            {
                "type": "text",
                "id": "blogsidebar_recentarticles_title",
                "placeholder": "Title for block",
                "label": "Block title",
				"default": "Recent Articles"
            },
            {
                "type": "text",
                "id": "blogsidebar_recentarticles_limit",
                "placeholder": "Ex: 6",
                "label": "Number of article limit",
                "default": "6"
            },
			{
                "type": "header",
                "content": "Blog Sidebar Banner"
            },
            {
                "type": "checkbox",
                "id": "blog_banner_enable",
                "label": "Enable banner",
				"default": true
            },
            {
                "type": "text",
                "id": "blog_banner_size",
                "label": "Image size",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)",
				"default": "270x270"
            },
            {
                "type": "url",
                "id": "blog_banner_link",
                "label": "Banner link"
            },
            {
                "type": "image_picker",
                "id": "blog_sidebar_image",
                "label": "Banner image"
            },
            {
                "type": "header",
                "content": "Blog Sidebar Tags"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_tags_enable",
                "label": "Enable tags list",
				"default": true
            },
            {
                "type": "text",
                "id": "blogsidebar_tags_title",
                "placeholder": "Title for block",
                "label": "Block title",
				"default": "Articles Tags"
            },
            {
                "type": "text",
                "id": "blogsidebar_tags_limit",
                "placeholder": "Ex: 6",
                "label": "Number of tags limit",
                "default": "10"
            }
        ]
    }
{% endschema %}