<div class="velaHTML mb60" style="background-color: {{section.settings.color_bg }};
                                     {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
    <div class="container{% if section.settings.full_with %}-full{% endif %}">
        <div class="velaHTMLInner">
            <div class="headingGroup pb20">
                {%- if section.settings.title != blank -%}
                    <h3 class="velaHomeTitle text-center">
                        {{ section.settings.title }}
                    </h3>
                {%- endif -%}
                {%- if section.settings.subtitle != blank -%}
                    <span class="subTitle">{{ section.settings.subtitle }}</span>
                {%- endif -%}
            </div>
            <div class="velaContent">
                <div class="rte">
                    {{ section.settings.content }}    
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela HTML",
        "class": "velaFramework",
        "settings":[
            {
                "type": "header",
                "content": "Design Section"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "Enabel Full Width?"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "SubTitle"
            },
            {
                "type": "html",
                "id": "content",
                "label": "HTML",
                "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
            }
        ],
        "presets": [
            {
                "name": "Custom HTML",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}