{% assign bannersize = '900x900' %}
{%- if section.settings.global_section_enable_7 -%}
{%- if product.metafields.ebyacf.enable_blkSeven -%}
<div class="our-product-block" style="background: {{ product.metafields.everybodybg.every_body_background }};">
  <div class="product-blocks">
    <div class="product-box">
    <div class="product-box-img">
      <div class="ebyacfCmsImgWrapper">{{ product.metafields.ebyacf.blkseven_image_content }}</div>
    </div>
    <div class="product-box_details">
      <h3 style="color:{{ product.metafields.ebyacf.blkseven_content_color }};">{{ product.metafields.everybodytitle.every_body_title }}</h3>
      <div class="rich-text">
      	<div style="color:{{ product.metafields.ebyacf.blkseven_content_color }};">{{ product.metafields.everybodycontent.every_body_content }}</div>
      </div>
      {%- if product.metafields.ebyacf.enable_blkSeven_cta -%}
      <a class="btn shop_btn" title="{{ product.metafields.everybodylink.every_body_link }}" href="{{ product.metafields.everybodylink.every_body_link }}" >{{ product.metafields.everybodyfield.every_body_field }}</a>
      {%- endif -%}
    </div>
    </div>
  </div>
</div>
{%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Global Section 7",
    "settings": [
        {
          "type": "header",
          "content": "Global Section 7"
        },
		{
          "type": "checkbox",
          "id": "global_section_enable_7",
          "label": "Show global section 7",
          "default": true
		},
        {
          "type": "text",
          "id": "global_section_title_7",
          "label": "Heading",
          "default": "No Slip Grip"
        },
        {
          "type": "textarea",
          "id": "global_section_text_7",
          "label": "Text",
          "default": "Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip."
        },
        {
          "type": "image_picker",
          "id": "global_section_7_image_1",
          "label": "Image for desktop view"
        },
        {
          "type": "image_picker",
          "id": "global_section_7_image_2",
          "label": "Image for mobile view"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
