<div class="velaBannerText mb60" style="background-color: {{section.settings.color_bg }};
                                     {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
    <div class="container{% if section.settings.full_with %}-full{% endif %}">
        <div class="velaBannerTextInner">
            <div class="rowFlex rowFlexMargin flexAlignCenter">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="bannerInner mb30">
                        <h3 class="velaHomeTitle">{{ section.settings.title }}</h3>
                        <div class="bannerDesc">{{ section.settings.content }}</div>
                        <a class="btn">{{ section.settings.button }}<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="velaBannerImage mb30">
                        {%- if section.settings.banner != blank -%}
                            <img class="img-responsive" alt="{{ section.settings.banner.alt | default: shop.name }}" src="{{ section.settings.banner | img_url: 'master' }}" />
                        {%- else -%}
                            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/600x800.jpg" />
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Banner&Text",
        "class": "velaFramework",
        "settings":[
            {
                "type": "header",
                "content": "Design Section"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "Enabel Full Width?"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "html",
                "id": "content",
                "label": "HTML",
                "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
            },
            {
                "type": "text",
                "id": "button",
                "label": "Text Button",
                "default": "Read More"
            },
            {
                "type": "image_picker",
                "id": "banner",
                "label": "Banner"
            }
        ],
        "presets": [
            {
                "name": "Banner&Text",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}