{%- if section.settings.enable -%}
    <div class="velaAboutUsFeature mb30" style="background-color: {{section.settings.color_bg }};
                                        {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
        <div class="container{% if section.settings.full %}-full{% endif %}">
            {%- if section.settings.title != blank -%}
                <h3 class="velaTitle velaHomeTile text-center ">{{ section.settings.title }}</h3>
            {%- endif -%}
            <div class="rowFlex rowFlexMargin">
                {%- if section.blocks.size > 0 -%}
                    {% for block in section.blocks %}
                        <div class="col-xs-12 col-sm-12 col-md-4 mb30">
                            <div class="featureBox">
                                <div class="featureImage">
                                    {%- if block.settings.featureicon != blank -%}
                                        <img class="img-responisve" src="{{ block.settings.featureicon | img_url: 'master' }}" alt="" />
                                    {%- else -%}
                                        <img class="img-responisve" src="//cdn.shopify.com/s/files/1/0313/4062/5964/files/370x270.png" alt="" />
                                    {%- endif -%}
                                </div>
                                <div class="featureBoxContent">
                                    {%- if block.settings.featuretitle != blank -%}
                                        <h4 class="featureTitle"> {{ block.settings.featuretitle }}</h4>
                                    {%- endif -%}
                                    {%- if block.settings.featuredesc != blank -%}
                                        <div class="featuredesc"> {{ block.settings.featuredesc }}</div>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                {%- endif -%}
            </div>
        </div>
    </div>
{% endif %}
{% schema %}
    {
        "name": "Vela Feature text",
        "settings": [
            {
                "type": "checkbox",
                "id": "enable",
                "label": "Enabel?",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "full",
                "label": "Full width?"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            }
        ],
        "blocks": 
        [
            {
                "type": "item",
                "name": "Feature Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "featuretitle",
                        "label": "Heading"
                    },
                    {
                        "type": "html",
                        "id": "featuredesc",
                        "label": "Description",
                        "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
                    },
                    {
                        "type": "image_picker",
                        "id": "featureicon",
                        "label": "Image"
                    }
                ]
            }
            
        ]
    }
{% endschema %}