{%- if section.settings.bgimage != blank -%}
    {%- capture bgImage -%}style="background-image: url({{ section.settings.bgimage | img_url: 'master' }});"{%- endcapture -%}
{%- endif -%}
<section class="passwordPage" {{ bgImage }}>
    <div class="col-xs-12">
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-7 col-lg-6 passwordPageInner text-center">
            <div class="passwordContent">
    
                <h2 class="passwordTitle text-center">{{ section.settings.header }}</h2>
                <div class="velaCount-group">                	                                                                 
                    {% assign countdownTime = section.settings.countdown_timeend %}
                    <div class="velaCountdown" data-countdown="{{ countdownTime }}"></div>
                </div>
                {% unless shop.password_message == blank %}
                    <div class="passwordMessage">
                        {{ shop.password_message }}
                    </div>
                {% endunless %}
                <div class="passwordLogin text-center">
                    <h3 class="passwordHeading">{{ 'general.password_page.login_form_heading' | t }}</h3>
                    {% form 'storefront_password' %}
                        {{ form.errors | default_errors }}
                        <div class="input-group">
                            <label for="password" class="hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
                            <input type="password" name="password" id="Password" class="form-control" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                            <div class="input-group-addon">
                                <button type="submit" class="btn btnVelaOne">{{ 'general.password_page.login_form_submit' | t }}</button>
                            </div>
                        </div>
                    {% endform %}
                    <p class="velaText">{{ 'general.password_page.admin_link_html' | t }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
    {
        "name": "Vela Password Page",
        "settings": [
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image"
            },
            {
                "type": "text",
                "id": "header",
                "label": "Heading",
                "default": "Coming Soon"
            },
            {
		        "type": "text",
		        "id": "countdown_timeend",
		        "label": "Time End",
		        "placeholder": "YYYY\/MM\/DD"
		    },
		    {
		        "type": "paragraph",
		        "content": "Format: 'Year\/Month\/Day'"
		    },
		    {
		        "type": "paragraph",
		        "content": "Example: '2017\/01\/30'"
		    }
        ]
    }
{% endschema %}
